<h1 class='success'>{{title}}</h1>
<nav>
    <a [routerLink]="['Home']">Home</a>
    <a [routerLink]="['Category']">Category</a>
    <a [routerLink]="['Question']">Question</a>
    <a *ngIf="!isLogedIn()" [routerLink]="['Login']">Login</a>
</nav>
<router-outlet></router-outlet>