<h1>Category</h1>
<ul class="categories">
    <li *ngFor="let category of categories"
        [class.selected]="category === selectedCategory"
        (click)="onSelect(category)">
            {{category.name}}
            <button class="delete-button" (click)="delete(category,$event)">Delete</button>
    </li>
</ul>

<button (click)="addCategory()">Add New Category</button>
<div *ngIf="addingCategory">
    <my-category-detail (close)="close($event)"></my-category-detail>
</div>

<div *ngIf="selectedCategory">
    <h2>
        {{selectedCategory.name | uppercase }}
    </h2>
    <button (click)="goToDetail()">Detail</button>
</div>