<div *ngIf="category">
    <h2>{{category.name}} details!</h2>
    <div><label>id: </label>{{category.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="category.name" placeholder="name"/>
        <label>description: </label>
        <input [(ngModel)]="category.description" placeholder="description"/>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>