<h1>Login</h1>
<form (ngSubmit)="formSubmit()">
    <div class="form-group">
        <label for="uname">Username</label>
        <input type="text" id="uname" class="form-control" placeholder="username"
                [(ngModel)]="data.username" >
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" id="pwd" class="form-control" placeholder="password"
                [(ngModel)]="data.password" >
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>