<div *ngIf="question">
    <h2>{{question.name}} details!</h2>
    <div><label>id: </label>{{question.id}}</div>    
    <div>        
        <label>category: </label>
        <select class="form-control"  required
            [(ngModel)]="question.idcategory" >
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <label>description: </label>
        <input [(ngModel)]="question.description" placeholder="description"/>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
<button (click)="getQuestion()">test</button>