<h1>List Of Question</h1>
<div class="questions">
    <li *ngFor="let question of questions"
        [class.selected] = "question === selectedQuestion"
        (click) = "onSelect(question)">
            {{question.description + "-" + question.category.name}}
    </li>
</div>

<button (click)="addQuestion()">Add New Question</button>
<div *ngIf="addingQuestion">
    <my-question-detail (close)="close($event)"></my-question-detail>
</div>

<div *ngIf="selectedQuestion">
    <h2>
        {{selectedQuestion.description }}
    </h2>
    <button (click)="goToDetail()">Detail</button>
</div>